<h1>{{user}}</h1>
<table>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
    </tr>
    <tr ng-repeat="v in msg">
        <td>{{v.name}}</td>
        <td>{{v.age}}</td>
        <td>{{v.sex}}</td>
    </tr>
</table>

<select ng-model="ops">
    <option value="">请选择</option>
    <option ng-repeat="v in op">{{v}}</option>
</select>
<div>{{ops}}</div>



$scope.user = 'junjun';
$scope.arr = [];

$http({
    method:'POST',
    url:'http://localhost/public/data.php?msg=1'
}).success(function(data,status,headers,config){
    console.log('success');
    console.log(data);
    $scope.arr.push(data);
    $scope.msg=$scope.arr;
}).error(function(data,status,headers,config){
    console.log('err');
})

$scope.op = ['姓名','年龄','性别'];
