<ul class="list-group">
    <li class="list-group-item" ng-repeat="v in arr">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="hover" data-id="{{v.id}}" ng-click="getId()">{{v.title}}</h3>
          </div>
          <div class="panel-body">
              <p class="text-center"><span>来源：{{v.from}}</span><span>时间：{{v.time}}</span></p>
              {{v.main}}
              <button type="button" class="btn btn-info" data-id="{{v.id}}" ng-click="getId()">阅读全文</button>
          </div>
        </div>          
    </li>                
</ul>
<p class="text-center" id="pos">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li ng-click="goPage(p)">
        <a href="#" aria-label="Previous" ng-click="goPage(1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="v in size" data-page="{{v}}" ng-click="goPage()"><a href="#">{{v}}</a></li>
      <li>
        <a href="#" aria-label="Next" ng-click="goPage(2)"> 
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</p>