<div class="page-header">
    <h1>人生要用简单的心境，对待复杂的人生，最无情的不是人，是时间</h1>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>            
              <a class="navbar-brand" href="#">点滴生活</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ng-click="goIndex()" id="hover"><a>首页</a></li>
                <li><a href="#" id="hover">技术收藏</a></li>
                <li><a href="#" id="hover">乱七八糟</a></li>
              </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </nav>